.login-form-container{
background: #fff;
top: 100px;
width: 90%;
max-width: 450px;
position: relative;
padding: 20px;
border-radius: 4px;
}

.login-form-container .row{
margin: 0px;
}

.login-input-submit{
width: 100%;
}

.left-link{
float: left;
text-align: left;
}

.right-link{
float: right;
text-align: right;
}

.small-links{
margin-top: 15px !important;
}

.small-links a{
font-size: 14px;
}
